# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build

# Trash
.*
*.webm
video.mp4

github
github.pub
profiler/benchmark.png
profiler/benchmark1.png
report.nsys-rep
report.sqlite
tmp1.csv
profiler/error.log
